/* b_smartphone.css */

/* (디자인기준: 320px) ~ 767px */
@media all and (max-width:767px) {
  #wrap {width: 100%; min-width: 320px; min-height: 600px;}

  /* #headBox ==================================== */
  #headBox {
    width: 100%; min-width: 320px;
    height: 60px;
    padding: 10px 12px 14px 12px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; max-width: 767px; min-width: 320px;
    margin: auto;
    box-sizing: border-box;
  }

  /* logo part */
  h1 {
    width: 33.75%; min-width: 108px; 
    height: auto;
    float: left;
  }
  .head_inner h1 button img {
    width: 100%; min-width: 108px;
    height: 12px;
  }
  .unb {display: none;}
  .gnb {display: none;}

  /* moblie slide part --------------------- */
  #headBox .header_m {
    padding-left: 34.375%;
  }
  .header_m {
    width: 46.875%; min-width: 150px;
    height: 26px;
    margin: auto;
    margin-top: 10px;
    float: right;
    box-sizing: border-box;
  }
  #unbInner {
    width: 13.75%; min-width: 44px;
    padding: 0;
  }

  /* slide menu button */
  #check_box {display: none;}
  #check_box + label {
    width: 11.875%; min-width: 38px;
    height: 20px;
    margin: auto;
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  #check_box + label > span {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    transition: all 300ms;
    border-radius: 5px;
    background: black;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    left: 40px;
  }

  /* #slide_menu ------------------------------ */
  #slide_menu {
    width: 100%; min-width: 281px;
    height: 100%;
    padding: 60px 16px 20px 16px;
    position: fixed;
    top: 0px;
    left: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all 300ms;
    overflow: auto;
    z-index: 1;
    background-color: rgba(36, 48, 90, 86%);
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-weight: 400;
    color: #eee;
    cursor: pointer;
  }
  input[id*="slide_btn"] + label + div {
    max-height: 0;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    transition: all .35s;
    overflow: hidden;
  }
  input[id*="slide_btn"] + label + div a {
    padding: 10px;
    display: flex;
  }
  input[id*="slide_btn"]:checked + label + div {
    max-height: inherit;
  }

  /* search */
  .search_part {
    height: auto;
  }
  .search_part form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    width: auto;
    height: auto;
    display: flex;
  }
  #searchInput {
    width: 53.75%; min-width: 172px;
    height: 44px;
    margin-right: 8px;
    padding-left: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
  }
  .search_btn {
    width: 21.875%; min-width: 70px;
    border: 1px solid #fff;
    text-transform: capitalize;
    color: #fff;
    border-radius: 4px;
  }

  /* sns */
  .sns_part ul {
    width: 100%;
    height: auto;
  }
  .sns_part li {
    width: 96.25%; min-width: 308px;
    height: auto;
    margin: 10px 5px 5px;
    color: #ddd;
  }
  .sns_part button img {
    width: 26px;
    height: 26px;
    margin-right: 5px;
  }

  /* .mainBox ========================= */
  .mainBox {
    width: auto;
    height: auto;
    padding-top: 60px;
    top: 0;
    right: 0;
    left: 0;
  }

  /* #viewBox ========================= */
  /* swiper */
  .swiper {
    width: 100%;
    height: auto;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }
  
  /* viewBpx main */
  .container {
    width: 100%; max-width: 1080px;
    margin: auto;
    padding: 30px 20px;
    position: relative;
  }
  .swiper-slide {
    width: 100%;
    height: auto;
    background-color: #eee;
  }
  .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 80px;
  }
  .swiper-button-next.swiper-button-disabled, 
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 55%;
    backdrop-filter: blur(3px);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    z-index: 1001;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(240, 240, 240, 0.7);
  }
  .swiper-button-next::after, .swiper-rtlswiper-button-next::after, .swiper-button-prev::after, 
  .swiper-rtlswiper-button-prev::after {display: none;}
  .swiper-button-prev:hover, 
  .swiper-button-next:hover {
    box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
    background-color: #004fff;
  }
  .swiper-button-prev {
    left: 20px;
    background-image: url(../../img/arrow_left.png);
  }
  .swiper-button-prev:hover {
    background-image: url(../../img/left.png);
    background-size: 60%;
  }
  .swiper-button-next {
    right: 20px;
    background-image: url(../../img/arrow_right.png);
  }
  .swiper-button-next:hover {
    background-image: url(../../img/right.png);
    background-size: 60%;
  }

  /* #storefindBox ========================= */
  #storefactory {display: none;}
  #dreamfactoryBox_full {display: none;}
  #storefindBox {display: none;}

  /* #storyBox ========================= */
  #shortcutBox {
    width: 100%; min-width: 320px; max-width: 767px;
    height: 236px;
    box-sizing: border-box;
  }
  .shortcut {
    width: 100%; min-width: 320px; 
    height: 236px;
    margin: auto;
    box-sizing: border-box;
  }
  .sc_title {
    width: 100%; min-width: 320px;
    height: 39px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #243c84;
  }
  .shortcut_inner {
    width: 100%; min-width: 320px; 
    height: auto;
    padding: 0.625% 3.125% 3.125% 3.125%;
    display: flex;
    flex-wrap: wrap;
  }

  /* drink --------------------------------- */
  .drinkInner {
    width: 49.875%;
    height: 90px;
    background-image: url(../../img/drink.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ddd;
  }
  .drink_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .drink_TX span {
    width: 86.875%; min-width: 139px;
    padding: 3.33333333% 3.66666667%;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #000;
  }
  /* bakery --------------------------------- */
  .bakeryInner {
    width: 49.875%; 
    height: 90px;
    background-image: url(../../img/bakery.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #aaa;
  }
  .bk_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .bk_TX span {
    width: 86.875%; min-width: 139px;
    padding: 3.33333333% 3.66666667%;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    color: #000;
  }
  /* md ------------------------------------- */
  .mdInner {
    width: 49.875%; 
    height: 90px;
    background-image: url(../../img/md.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #aaa;
  }
  .md_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .md_TX span {
    width: 86.875%; min-width: 139px;
    padding: 3.33333333% 3.66666667%;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  /* bistro -------------------------------------- */
  .bistroInner {
    width: 49.875%;
    height: 90px;
    background-image: url(../../img/bistro.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .bst_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .bst_TX span {
    width: 86.875%; min-width: 139px;
    padding: 3.33333333% 3.66666667%;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
  }
  /* more button ---------------------------- */
  .left_more {
    width: 100%; min-width: 60px;
    height: 20px;
    margin: 5px;
    margin-right: 80px;
    padding: 1.07692308%;
    outline: solid 1px;
    font-size: 12px;
    color: #000;
    border-radius: 3px;
  }
  .right_more {
    width: 100%; min-width: 60px;
    height: 20px;
    margin: 5px;
    margin-left: 80px;
    padding: 1.07692308%;
    outline: solid 1px;
    font-size: 12px;
    color: #000;
    border-radius: 3px;
  }
  
  /* #storyBox ========================= */
  #storyBox {display: none;}
  
  /* #dreamfactoryBox ========================= */
  #dreamfactoryBox {
    width: 100%; min-width: 320px;
    height: auto;
    float: left;
    background-color: #243c84;
  }
  .dreamfactory {
    width: auto;
    height: auto;
    padding-top: 0.3125%;
    padding-left: 4.275%;
  }
  .dreamTxt {
    width: 55.625%; min-width: 178px; 
    height: auto;
    margin-top: 5%;
  }
  .dreamfactory ul li {
    width: 55.3125%; min-width: 177px;
    height: auto;
    margin-top: 2.3125%;
    font-size: 10px;
    text-align: left;
    color: #ffffff;
  }
  .dreamImg {
    width: 40%; min-width: 128px;
    height: auto;
    margin-top: 19.9375%;
    float: right;
  }
  .dreamfactory_btn {
    width: 45.3125%; min-width: 145px;
    height: auto;
    float: left;
  }

  /* dreamfactory button */
  .dream_fc {
    width: 21.25%; min-width: 68px;
    height: 18px;
    line-height: 18px;
    float: right;
    border: 0.8px solid #151515;
    opacity: 0.6;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    background-color: #dddddd;
  }
  .dream_lc  {
    width: 21.25%; min-width: 68px;
    height: 18px;
    line-height: 18px;
    float: right;
    border: 0.8px solid #151515;
    opacity: 0.6;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    background-color: #dddddd;
  }

/* #companyaboutBox ========================= */
  #companyabBox {
    width: 100%; min-width: 320px;
    height: auto;
    float: left;
  }

  /* franchise part */
  .franchise_inner {
    width: 40.625%; min-width: 130px; 
    height: 114px;
    margin: 5.3846154% 2.84615385% 5.3846154% 5.1307692%;
    float: left;
  }
  .franchise {
    width: 100%; min-width: 130px;
    height: 114px;
    float: left;
    background-image: url(../../img/franchise.png);
    background-repeat: no-repeat;
    background-size: 100% 114px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .franchise_TX {
    width: 17.5%; min-width: 56px;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
  }
  /* franchise button */
  .franchise_btn {
    width: 17.1875%; min-width: 55px;
    height: 12px;
    margin-top: 30px;
    margin-right: -40px;
    float: right;
  }
  .franchise_gd  {
    width: 28.75%; min-width: 60px; 
    height: 16px;
    line-height: 16px;
    float: right;
    border: 1px solid #151515;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    border-radius: 3px;
    background-color: #dddddd;
    cursor: pointer;
  }
  .franchise_pt {
    width: 28.75%; min-width: 60px; 
    height: 16px;
    margin-top: -30px;
    line-height: 16px;
    float: right;
    opacity: 0.6;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #151515;
    border-radius: 3px;
    background-color: #dddddd;
    cursor: pointer;
  }
  .sns_inner {display: none;}

  /* brand story part */
  .ediyastory_inner {
    width: 40.625%; min-width: 130px; 
    height: 114px;
    margin: 5.3846154% 5.1846154% 5.3846154% 0.84615385%;
    float: right;
    background-color: #ddd;
  }
  .ediyastory {
    width: 100%; min-width: 130px; 
    height: 114px;
    float: left;
    background-image: url(../../img/ediyastory.png);
    background-repeat: no-repeat;
    background-size: 100% 114px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .ediyastory_TX {
    width: 100%; min-width: 130px;
    padding-right: 7.69230769%;
    padding-top: 10px;
    float: right;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
  }
  .ediyastory_btn {
    width: 17.1875%; min-width: 55px;
    height: 12px;
    margin-top: 0px;
    margin-right: 15px;
    float: right;
  }
  .ediyastory_more {
    width: 100%; min-width: 60px; 
    height: 16px;
    line-height: 16px;
    float: right;
    opacity: 0.6;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #151515;
    border-radius: 3px;
    background-color: #dddddd;
    cursor: pointer;
  }

/* #footBox ========================= */
  #footBox {
    width: 100%; min-width: 320px;
    height: auto;
    border-top: 3px solid #243c84;
    float: left;
  }
  .foot_inner {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: 10px auto;
    position: relative;
  }
  .foot_main {
    position: relative;
    color: #000;
    text-align: center;
  }
  .foot_main h2 {
    width: 100%; min-width: 300px;
    margin: auto;
  }
  .foot_main h2 button img {
    width: 28.125%; min-width: 90px; 
    height: 15px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; min-width: 300px; 
    height: auto;
  }
  .foot_main .company_info li {
    font-size: 11px;
  }
  .foot_main p {
    margin-top: 2.5%;
    font-size: 10px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {display: none;}

  /* top button */
  .to_top {
    right: 4%;
    bottom: 15px;
    display: none;
    position: fixed;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 30px;
    cursor: pointer;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 30px;
  }
} /* (디자인기준: 320px) ~ 767px ==================================== */
