/* c_main_tablet.css */

/* 768px ~ 1279px */
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {width: 100%; min-width: 768px; min-height: 600px;}

  /* headBox ========================= */
  #headBox {
    width: 100%; min-width: 768px;
    height: 70px;
    padding: 18px 20px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 768px; max-width: 1279px;
    margin: auto;
    box-sizing: border-box;
  }

  /* logo part */
  h1 {
    width: 23.4375%; min-width: 180px;
    height: auto;
    float: left;
  }
  h1 button img {
    width: 23.4375%; min-width: 180px;
    height: 20px;
    margin-bottom: 1.111px;
  }
  .unb {display: none;}
  .gnb {display: none;}
  
  /* moblie slide part --------------------- */
  #headBox .header_m {
    padding-left: 13.375%;
  }
  .header_m {
    width: 19.531%; min-width: 150px;
    height: 22px;
    margin: auto;
    margin-top: 6px;
    float: right;
    box-sizing: border-box;
  }
  #unbInner {
    width: 7.8125%; min-width: 60px;
    padding: 0;
  }
  
  /* slide menu button */
  #check_box {display: none;}
  #check_box + label {
    width: 5.21%; min-width: 40px;
    height: 20px;
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  #check_box + label > span {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    transition: all 300ms;
    border-radius: 5px;
    background: #000;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    left: 95px;
  }
  
  /* #slide_menu ------------------------------ */
  #slide_menu {
    width: 100%; min-width: 281px;
    height: 100%;
    padding: 60px 16px 20px 16px;
    position: fixed;
    top: 0px;
    left: 100%;
    transition: all 300ms;
    box-sizing: border-box;
    text-transform: uppercase;
    overflow: auto;
    z-index: 1;
    background-color: rgba(36, 48, 90, 86%);
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-weight: 400;
    color: #eee;
    cursor: pointer;
  }
  input[id*="slide_btn"] + label + div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
  input[id*="slide_btn"] + label + div a {
    padding: 10px;
    display: flex;
  }
  input[id*="slide_btn"]:checked + label + div {
    max-height: inherit;
  }
  
  /* search */
  .search_part {
    height: auto;
  }
  .search_part form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    width: auto;
    height: auto;
    display: flex;
  }
  #searchInput {
    width: 32.552%; min-width: 250px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
  }
  .search_btn {
    width: 13.021%; min-width: 100px;
    border: 1px solid #fff;
    text-transform: capitalize;
    color: #fff;
    border-radius: 5px;
  }
  
  /* sns */
  .sns_part ul {
    width: 100%;
    height: auto;
  }
  .sns_part li {
    width: 96%;
    height: auto;
    margin: 16px 5px 14px 5px;
    color: #ddd;
  }
  .sns_part button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: #aaa;
  }

  /* .mainBox ========================= */
  .mainBox {
    width: auto;
    height: auto;
    padding-top: 70px;
    top: 0;
    left: 0;
    right: 0;
  }
  
  /* #viewBox ========================= */
  /* swiper */
  .swiper {
    width: 100%;
    height: auto;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }

  /* viewBpx main */
  .container {
    width: 100%; max-width: 1080px;
    margin: auto;
    padding: 30px 20px;
    position: relative;
  }
  .swiper-slide {
    width: 100%;
    height: auto;
    background-color: #eee;
  }
  .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
  }
  .swiper-pagination-bullet-active {
    width: 80px;
    background-color: #fff;
  }
  .swiper-button-next.swiper-button-disabled, 
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    backdrop-filter: blur(3px);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    z-index: 1001;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(240, 240, 240, 0.7);
  }
  .swiper-button-next::after, .swiper-rtlswiper-button-next::after, .swiper-button-prev::after, 
  .swiper-rtlswiper-button-prev::after {display: none;}
  
  .swiper-button-prev:hover, 
  .swiper-button-next:hover {
    box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
    background-color: #004fff;
  }
  .swiper-button-prev {
    left: 20px;
    background-image: url(../../img/arrow_left.png);
  }
  .swiper-button-prev:hover {
    background-image: url(../../img/left.png);
    background-size: 60%;
  }
  .swiper-button-next {
    right: 20px;
    background-image: url(../../img/arrow_right.png);
  }
  .swiper-button-next:hover {
    background-image: url(../../img/right.png);
    background-size: 60%;
  }

  /* #storefindBox ========================= */
  #storefactory {display: none;}
  
  /* #dreamfactoryBox_full ================= */
  #dreamfactoryBox_full {display: none;}
  
  /* #storefindBox ========================= */
  #storefindBox {display: none;}

  /* #shortcutBox ========================= */
  #shortcutBox {
    width: 100%; min-width: 768px; max-width: 1279px;
    height: 434px;
    box-sizing: border-box;
  }
  .shortcut {
    width: 100%; min-width: 768px;
    height: 434px;
    margin: auto;
    box-sizing: border-box;
  }
  .sc_title {
    width: 100%; min-width: 768px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #243c84;
  }
  .shortcut_inner {
    width: 100%; min-width: 768px;
    height: auto;
    padding: 2px 14px 14px;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* drink --------------------------------- */
  .drinkInner {
    width: 49.875%;
    height: 180px;
    background-image: url(../../img/drink.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ddd;
  }
  .drink_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .drink_TX span {
    width: 86%; min-width: 350px;
    padding: 4.35501355% 2.710027%;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #000;
  }
  /* bakery --------------------------------- */
  .bakeryInner {
    width: 49.875%;
    height: 180px;
    background-image: url(../../img/bakery.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #aaa;
  }
  .bk_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .bk_TX span {
    width: 86%; min-width: 350px;
    padding: 4.35501355% 2.710027%;
    float: right;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
  }
  /* md ------------------------------------- */
  .mdInner {
    width: 49.875%;
    height: 180px;
    background-image: url(../../img/md.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #aaa;
  }
  .md_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .md_TX span {
    width: 86%; min-width: 350px;
    padding: 4.35501355% 2.710027%;
    float: left;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }
  /* bistro -------------------------------------- */
  .bistroInner {
    width: 49.875%;
    height: 180px;
    background-image: url(../../img/bistro.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .bst_TX {
    display: flex;
    flex-wrap: wrap;
  }
  .bst_TX span {
    width: 86%; min-width: 350px;
    padding: 4.35501355% 2.710027%;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
  }
  /* more button ---------------------------- */
  .left_more {
    width: 100%; min-width: 110px;
    margin: 10px;
    margin-right: 250px;
    padding: 1.4084507%;
    font-size: 16px;
    outline: solid 1px;
    border-radius: 4px;
    color: #000;
  }
  .right_more {
    width: 100%; min-width: 110px;
    margin: 10px;
    margin-left: 250px;
    padding: 1.4084507%;
    float: right;
    outline: solid 1px;
    font-size: 16px;
    color: #000;
    border-radius: 4px;
  }
  
  /* #storyBox ========================= */
  #storyBox {display: none;}
  
  /* #dreamfactoryBox ========================= */
  #dreamfactoryBox {
    width: 100%; min-width: 768px;
    height: auto;
    float: left;
    background-color: #243c84;
  }
  .dreamfactory {
    width: auto;
    height: auto;
    padding-top: 4.55729167%;
    padding-left: 7.03125%;
  }
  .dreamTxt {
    width: 55.7292%; min-width: 428px;
    height: auto;
  }
  .dreamfactory ul li {
    width: 37.7604%; min-width: 290px;
    margin-top: 1.953%;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
  }
  .dreamImg {
    width: 50%; min-width: 384px;
    height: 124px;
    margin-top: 32px;
    float: right;
  }
  .dreamfactory_btn {
    width: 34.635%; min-width: 274px;
    height: auto;
    margin-top: 25px;
    float: left;
  }
  
  /* dreamfactory button */
  .dream_fc {
    width: 15.625%; min-width: 120px; 
    height: 34px;
    line-height: 34px;
    float: right;
    border: 1px solid #151515;
    opacity: 0.6;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dddddd;
  }
  .dream_lc {
    width: 15.625%; min-width: 120px; 
    height: 34px;
    line-height: 34px;
    float: right;
    border: 1px solid #151515;
    opacity: 0.6;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dddddd;
  }

  /* #companyaboutBox ========================= */
  #companyabBox {
    width: 100%; min-width: 768px;
    height: auto;
    float: left;
  }
  
  /* franchise part */
  .franchise_inner {
    width: 43.75%; min-width: 336px;
    height: 264px;
    margin: 3.72093023% 1.72093023% 3.72093023% 4.36046512%;
    float: left;
  }
  .franchise {
    width: 100%; min-width: 336px;
    height: 264px;
    float: left;
    background-image: url(../../img/franchise.png);
    background-repeat: no-repeat;
    background-size: 100% 264px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .franchise_TX {
    width: 75%; min-width: 130px;
    margin-right: 25%;
    padding-top: 30px;
    float: right;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
  }
  /* franchise button */
  .franchise_btn {
    width: 17.1875%; min-width: 132px;
    height: 84px;
    margin-top: 30px;
    margin-right: 10px;
    float: right;
  }
  .franchise_gd {
    width: 15.885%; min-width: 122px;
    height: 36px;
    line-height: 36px;
    float: right;
    border: 1px solid #151515;
    opacity: 0.6;
    font-size: 15px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dddddd;
  }
  .franchise_pt {
    width: 15.885%; min-width: 122px;
    height: 36px;
    line-height: 36px;
    float: right;
    border: 1px solid #151515;
    opacity: 0.6;
    font-size: 15px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dddddd;
  }
  .sns_inner {display: none;}
  
  /* brand story part */
  .ediyastory_inner {
    width: 43.75%; min-width: 336px;
    height: 264px;
    margin: 3.72093023% 4.36046512% 3.72093023% 1.72093023%;
    float: left;
    background-color: #ddd;
  }
  .ediyastory {
    width: 100%; min-width: 336px;
    height: 264px;
    float: left;
    background-image: url(../../img/ediyastory.png);
    background-repeat: no-repeat;
    background-size: 100% 264px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .ediyastory_TX {
    width: 75%; min-width: 130px;
    margin-right: 25%;
    padding-top: 30px;
    float: right;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
  }
  .ediyastory_btn {
    width: 17.1875%; min-width: 132px;
    height: 84px;
    margin-top: 30px;
    margin-right: 10px;
    float: right;
  }
  .ediyastory_more {
    width: 15.885%; min-width: 122px;
    height: 36px;
    line-height: 36px;
    float: right;
    border: 1px solid #151515;
    opacity: 0.6;
    font-size: 15px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dddddd;
  }

  /* #footBox ========================= */
  #footBox {
    width: 100%; min-width: 768px;
    height: auto;
    float: left;
    border-top: 3px solid #243c84;
  }
  .foot_inner {
    width: 91.1458%; min-width: 700px;
    height: auto;
    margin: 20px auto;
    position: relative;
  }
  .foot_main {
    position: relative;
    font-weight: 300;
    text-align: center;
    color: #000;
  }
  .foot_main h2 {
    width: auto;
    margin: auto;
    margin-bottom: 8px;
  }
  .foot_main h2 button img {
    width: 19.5313%; min-width: 150px;
    height: 20px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; min-width: 700px;
    height: auto;
  }
  .foot_main .company_info li {
    display: inline-block;
    font-size: 15px;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    margin-top: 16px;
    font-size: 13px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 26.0416%; min-width: 200px;
    top: 0px;
    right: 0;
    display: flex;
    position: absolute;
  }

  /* language --------------- */
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%;
    height: 42px;
    margin-top: 2px;
  }
  .language_btn img {
    width: 30px; 
    height: 30px;
  }
  .language_part ul {
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    display: none;
    position: relative;
    border: 1px solid #262626;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
  }
  .language_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  .language_part li {
    width: auto;
    height: 30px;
    line-height: 20px;
  }
  .language_part li button { 
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
  }

  /* brandsite -------------- */
  .brandsite_part {
    width: 50%;
  }
  .brandsite_btn {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    background-color: #243c84;
  }
  .brandsite_part ul {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    display: none;
    position: relative;
    border: 1px solid #262626;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
  }
  .brandsite_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  .brandsite_part li {
    width: auto;
    height: 30px;
    line-height: 20px;
  }
  .brandsite_part li button { 
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
  }

  /* top button */
  .to_top {
    display: none;
    position: fixed;
    right: 4%;
    bottom: 15px;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 40px;
    cursor: pointer;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 40px;
  }
} /* 768px ~ 1279px ================================================= */
