/* d_main_laptop.css */

/* 1280px ~ 1439px */
@media all and (min-width:1280px) and (max-width:1439px) {
  #wrap {width: 100%; min-width: 1280px;}

  /* #headBox =================================== */
  #headBox { 
    width: 100%; min-width: 1280px;
    height: 140px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1280px; max-width: 1439px;
    height: 50%;
    margin: auto;
    padding: 13px 40px;
    display: flex;
    box-sizing: border-box;
  }
  
  /* logo part */
  h1 {
    width: 100%; min-width: 750px; 
    height: auto;
    margin: auto;
  }
  h1 button img {
    width: 100%; min-width: 190px;
    height: 20px;
    margin-top: 12px;
  }

  /* user navigation */
  .unb {
    width: 35.156%; min-width: 450px; 
    height: 46px;
    display: flex;
    text-transform: uppercase;
    text-align: center;
  }
  /* page 이동 */
  .about_part {
    width: 6.25%; min-width: 80px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
  }
  .about_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .login_part {
    width: 6.25%; min-width: 80px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
  }
  .login_part a {
    display: block;
    width: auto;
    height: 100%;
    text-decoration: none;
  }
  /* search */
  .search_part {
    width: auto;
    height: auto;
    margin: auto;
    float: right;
    margin-left: 10px;
  }
  .search_part form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    width: auto;
    height: auto;
    display: flex;
  }
  #unbsearchInput {
    width: 68.571%; min-width: 192px;
    height: 40px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #aaaaaa;
  }
  .search_btn {
    width: 28.571%; min-width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #243c84;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
  }

  /* .head_inner02 ---------------------------------- */
  .head_inner02 {
    width: 100%; min-width: 1280px;
    height: 50%;
    background-color: #243c84;
    margin: auto;
    box-sizing: border-box;
  }
  /* global navigaition */
  .gnb {
    width: 77.109%; min-width: 987px; 
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  /* global navigaition low slide menu */
  .submenu_part {
    position: relative;
    display: inline-block;
  }
  .btn_part {
    width: 16.055%; min-width: 140px;
    height: 100%;
    line-height: 48px;
    border-radius: 4px;
    font-weight: 300;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
  .submenu_inner {
    width: 100%; min-width: 178px;
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: 300;
    background-color: #fff;
    text-align: center;
    right: -13px;
  }
  .submenu_inner a {
    padding: 12px 8px;
    display: block;
    font-size: 16px;
    text-decoration: none;
  }
  .submenu_inner a:hover {
    width: auto;
    font-weight: 500;
    font-size: 17px;
    color: #243c84;
  }
  .submenu_part:hover .submenu_inner {
    display: block;
    border: 1px solid #243c84;
    justify-content: space-between;
  }
  .header_m {display: none;}    
  .mainBox {
    width: auto;
    height: auto;
    padding-top: 140px;
    top: 0;
    left: 0;
    right: 0;
  }
    
  /* #viewBox ========================= */
  /* swiper */
  .swiper {
    width: 100%;
    height: auto;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }
  
  /* viewBox main */
  .container {
    width: 100%; max-width: 1080px;
    margin: auto;
    padding: 30px 20px;
    position: relative;
  }
  .swiper-slide {
    width: 100%;
    height: auto;
    background-color: #eee;
  }
  .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
  }
  .swiper-pagination-bullet-active {
    width: 80px;
    background-color: #fff;
  }
  .swiper-button-next.swiper-button-disabled, 
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    top: 50%;
    background-color: rgba(240, 240, 240, 0.7);
    backdrop-filter: blur(3px);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1001;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
  }
  .swiper-button-next::after, .swiper-rtlswiper-button-next::after, .swiper-button-prev::after, 
  .swiper-rtlswiper-button-prev::after {display: none;}
  
  .swiper-button-prev:hover, 
  .swiper-button-next:hover {
    background-color: #004fff;
    box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
  }
  .swiper-button-prev {
    left: 20px;
    background-image: url(../../img/arrow_left.png);
  }
  .swiper-button-prev:hover {
    background-image: url(../../img/left.png);
    background-size: 60%;
  }
  .swiper-button-next {
    right: 20px;
    background-image: url(../../img/arrow_right.png);
  }
  .swiper-button-next:hover {
    background-image: url(../../img/right.png);
    background-size: 60%;
  }
  
/* #content_box_wrap ========================= */
  #content_box_wrap {
    width: 100%; min-width: 1280px;
    height: auto;
  }
  .storefactory {display: none;}

  /* #dreamfactoryBox_full ================= */
  #dreamfactoryBox_full {display: none;}
  
  /* #storefindBox ========================= */
  #storefindBox {display: none;}
  .noticeBox_full {display: none;}
    
/* #shortcutBox ====================== */
  #shortcutBox {display: none;}

/* #storyBox ========================= */
  #storyBox {
    width: 100%; min-width: 1280px;
    height: 518px;
    float: left;
  }

  /* menu ---------------------------------------- */
  .menu_inner {
    width: 40.156%; min-width: 514px;
    height: 390px; 
    margin: 3.469% 3.191% 4.031% 5.988%;
    float: left;
  }
  .menu {
    width: 100%; min-width: 514px;
    height: 390px;
    padding: 20px 0;
    float: left;
    background-image: url(../../img/menu_intro.png);
    background-repeat: no-repeat;
    background-size: 100% 390px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .menu_TX {
    width: 100%; min-width: 514px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  .menu_btn {
    width: 11.719%; min-width: 150px;
    height: 196px;
    margin-top: 50px;
    margin-right: 80px;
    float: right;
  }
  /* drink */
  .menu_dk {
    width: 26.9388%; min-width: 132px;
    height: 45px;
    font-size: 17px;
    line-height: 45px;
    margin-bottom: 10px;
    float: right;
    border: 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
  }
  /* food */
  .menu_fd {
    width: 26.9388%; min-width: 132px;
    height: 45px;
    float: right;
    font-size: 17px;
    line-height: 45px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
  }
  /* md */
  .menu_md {
    width: 26.9388%; min-width: 132px;
    height: 45px;
    margin-bottom: 10px;
    float: right;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 45px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
  }
  .menu_p {
    margin: 270px 76px 0 0;
    font-size: 15px;
    font-weight: 300;
    text-align: right;
    color: white;
  }
  /* brandStory -------------------------------- */
  .brandStory_inner {
    width: 40.156%; min-width: 514px;
    height: 390px;
    margin: 3.469% 5.988% 4.031% 4.191%;
    float: left;
  }
  .brandStory {
    width: 100%; min-width: 514px;
    height: 390px;
    padding: 20px 0;
    float: left;
    background-image: url(../../img/brandStory.png);
    background-repeat: no-repeat;
    background-size: 100% 390px;
    background-position: 50% 50%;
  }
  .brandStory_TX {
    width: 100%; min-width: 514px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  .brandStory_btn {
    width: 11.719%; min-width: 150px;
    height: 307px;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
  }
  /* ediya about */
  .brandStory_ey {
    width: 26.9388%; min-width: 132px;
    height: 45px;
    margin-bottom: 5px;
    float: right;
    font-size: 17px;
    line-height: 45px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  /* ceo 인사말 */
  .brandStory_ci {
    width: 26.9388%; min-width: 132px;
    height: 45px;
    margin-bottom: 5px;
    line-height: 45px;
    float: right;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
  }
  /* 연혁 */
  .brandStory_ht {
    width: 26.9388%; min-width: 132px;
    height: 45px;
    float: right;
    font-size: 17px;
    line-height: 45px;
    margin-bottom: 5px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  /* 오시는 길 */
  .brandStory_m {
    width: 88%; min-width: 132px;
    height: 45px;
    margin-bottom: 5px;
    float: right;
    font-size: 17px;
    line-height: 45px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  /* 수상내역 */
  .brandStory_aw {
    width: 26.9388%; min-width: 132px;
    height: 45px;
    float: right;
    font-size: 17px;
    line-height: 45px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
    
  /* #dreamfactoryBox ========================= */
  #dreamfactoryBox {
    width: 100%; min-width: 1280px;
    height: 390px;
    float: left;
    background-color: #243c84;
  }
  .dreamfactory {
    height: 390px;
    padding-top: 3.6875%;
    padding-left: 7.03125%;
  }
  .dreamTxt {
    width: 65.4688%; min-width: 838px;
    height: auto;
  }
  .dreamfactory ul li {
    width: 36.7188%; min-width: 470px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
  }
  .dreamImg {
    width: 49.2188%; min-width: 630px; 
    height: 244px;
    float: right;
    margin-top: 12px;
  }

  /* dreamfactory button */
  .dreamfactory_btn {
    width: 35.0781%; min-width: 449px;
    height: 70px;
    margin-top: 50px;
  }
  .dream_fc {
    width: 10.9375%; min-width: 140px;
    height: 45px;
    float: right;
    font-size: 16px;
    margin-right: 10px;
    line-height: 45px;
    text-transform: uppercase;
    border: 1px solid #151515;
    background-color: #dddddd;
    opacity: 0.6;
    border-radius: 6px;
    cursor: pointer;
  }
  .dream_lc {
    width: 10.9375%; min-width: 140px;
    height: 45px;
    float: right;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
    border: 1px solid #151515;
    background-color: #dddddd;
    opacity: 0.6;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* #companyabBox ========================= */
  #companyabBox {
    width: 100%; min-width: 1280px;
    height: 496px;
    float: left;
  }

  /* franchise part */
  .franchise_inner {
    width: 40.3125%; min-width: 516px;
    height: 384px;
    margin: 4.375%;
    float: left;
  }
  .franchise {
    width: 100%; min-width: 516px;
    height: 384px;
    float: left;
    background-image: url(../../img/franchise.png);
    background-repeat: no-repeat;
    background-size: 100% 384px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .franchise_TX {
    width: 100%; min-width: 516px;
    padding-right: 110px;
    padding-top: 50px;
    font-size: 19px;
    font-weight: 500;
    text-align: right;
  }
  /* franchise button */
  .franchise_btn {
    width: 38.3721%; min-width: 198px;
    height: 121px;
    margin-top: 80px;
    margin-right: 20px;
    float: right;
  }
  .franchise_gd {
    width: 29.457%; min-width: 152px;
    height: 45px;
    margin-bottom: 10px;
    float: right;
    line-height: 45px;
    font-size: 17px;
    text-transform: uppercase;
    border: 1px solid #151515;
    background-color: #dddddd;
    opacity: 0.6;
    border-radius: 6px;
    cursor: pointer;
  }
  .franchise_pt {
    width: 29.457%; min-width: 152px;
    height: 45px;
    float: right;
    font-size: 17px;
    line-height: 45px;
    text-transform: uppercase;
    border: 1px solid #151515;
    background-color: #dddddd;
    opacity: 0.6;
    border-radius: 6px;
    cursor: pointer;
  }
  /* sns */
  .sns_inner {
    width: 42.1875%; min-width: 540px;
    height: 384px;
    margin: 4.375%;
    display: flex;
  }
  .sns {
    width: 71.11%; min-width: 284px;
    height: 384px;
    display: flex;
    flex-wrap: wrap;
  }
  /* sns img */
  .snslatte {
    width: 182px;
    height: 189px;
  }
  .snsthree {
    width: 182px;
    height: 189px;
  }
  .snscoffee {
    width: 182px;
    height: 189px;
  }
  .snssoftkit {
    width: 182px;
    height: 189px;
  }
  /* sns logo */
  .snsmark {
    width: 32.407%; min-width: 175px;
    height: 384px;
    display: flex;
    flex-direction: column;
  }
  .snsmark button {
    width: auto;
    height: 96px;
    text-align: left;
  }
  .snsmark button span {
    width: 80px;
    height: 25px;
    font-size: 22px;
    line-height: 25px;
  }
  .snsmark button img {
    margin: 0 26px;
  } 
  .Fmark {
    width: 23px;
    height: 23px;
    float: left;
  }
  .Imark {
    width: 23px;
    height: 23px;
    float: left;
  }
  .NBmark {
    width: 23px;
    height: 23px;
    float: left;
  }
  .Ymark {
    width: 23px;
    height: 23px;
    float: left;
  }
  .ediyastory_inner {display: none;}

  /* #footBox ========================= */
  #footBox {
    width: 100%; min-width: 1280px;
    height: auto;
    float: left;
    border-top: 3px solid #243c84;
  }
  .foot_inner {
    width: 85.7813%; min-width: 1098px;
    height: auto;
    margin: 30px auto;
    position: relative;
  }
  .foot_main {
    position: relative;
    text-align: center;
    color: #000;
  }
  .foot_main h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 16.3934%; min-width: 180px; 
    height: 26px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; min-width: 1098px;
    height: auto;
  }
  .foot_main .company_info li {
    display: inline-block;
    font-size: 17px;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    margin-top: 26px;
    font-size: 15px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 22.7687%; min-width: 250px;
    top: 10px;
    right: 0;
    display: flex;
    position: absolute;
  }
  
  /* language --------------- */
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%;
    height: 42px;
    margin-top: 4px;
  }
  .language_btn img {
    width: 35px;
    height: 35px;
  }
  .language_part ul {
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    display: none;
    border: 1px solid #262626;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .language_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  .language_part li {
    width: auto; 
    height: 30px;
    line-height: 20px;
  }
  .language_part li button { 
    text-transform: uppercase;
  }
  
  /* brandsite -------------- */
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_part li {
    width: auto;
    height: 35px;
    line-height: 25px;
  }
  .brandsite_part li button {
    font-size: 16px;
    text-transform: uppercase;
  }
  .brandsite_btn {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: #243c84;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
  }
  .brandsite_part ul {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    display: none;
    border: 1px solid #262626;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .brandsite_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* top button */
  .to_top {
    position: fixed;
    right: 4%;
    bottom: 15px;
    display: none;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 50px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 50px;
  }
  .footInner_m {display: none;}
} /* 1280px ~ 1439px ============================================== */
