/* f_main_pcfull.css */

/* 1920px ~ */
@media all and (min-width:1920px) {
  #wrap {width: 100%; min-width: 1920px;}

  /* #headBox ========================= */
  #headBox { 
    width:100%; height: 180px; 
    position: fixed;
    box-sizing:border-box;
    z-index: 999;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1920px;
    height: 50%;
    margin: auto;
    padding: 16px 40px;
    display: flex;
    box-sizing: border-box;
  }
  
  /* logo part */
  h1 {
    width: 100%; min-width: 1316px; 
    height: auto;
    margin: auto;
  }
  h1 button img {
    width: 100%; min-width: 280px;
    height: 30px;
    margin-top: 14px;
  }
  
  /* user navigation */
  .unb {
    width: 27.3958%; min-width: 526px; 
    height: auto;
    display: flex;
    text-transform: uppercase;
    text-align: center;
  }
  /* page 이동 */
  .about_part {
    width: 5.208%; min-width: 100px;
    height: 54px;
    line-height: 54px;
  }
  .about_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 20px;
    text-decoration: none;
  }
  .login_part {
    width: 100px;
    height: 54px;
    line-height: 54px;
  }
  .login_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 20px;
    text-decoration: none;
  }
  /* search */
  .search_part {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 18px;
    float: right;
  }
  .search_part form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    width: auto;
    height: auto;
    display: flex;
  }
  #unbsearchInput {
    width: 44%; min-width: 220px;
    height: 48px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
  }
  .search_btn {
    width: 16%; min-width: 80px;
    height: 48px;
    font-size: 19px;
    text-transform: capitalize;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #243c84;
  }

  /* .head_inner02 ---------------------------------- */
  .head_inner02 {
    width: 100%; min-width: 1920px;
    height: 50%;
    margin: auto;
    box-sizing: border-box;
    background-color: #243c84;
  }
  /* global navigaition */
  .gnb {
    width: 62.7083%; min-width: 1204px; 
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  /* global navigaition low slide menu */
  .submenu_part {
    position: relative;
    display: inline-block;
  }
  .btn_part {
    width: 14.5148%; min-width: 172px;
    height: 100%;
    padding: 12px;
    line-height: 48px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  .submenu_inner {
    width: 100%; min-width: 220px;
    margin-left: -25px;
    display: none;
    position: absolute;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    background-color: #fff;
  }
  .submenu_inner a {
    padding: 12px 6px;
    display: block;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .submenu_inner a:hover {
    width: auto;
    font-weight: 500;
    font-size: 22px;
    color: #243c84;
  }
  .submenu_part:hover .submenu_inner {
    display: block;
    border: 1px solid #243c84;
    justify-content: space-between;
  }
  .header_m {display: none;}
  .mainBox {
    width: auto;
    height: auto;
    padding-top: 180px;
    top: 0;
    right: 0;
    left: 0;
  }

  /* #viewBox ========================= */
  /* swiper */
  .swiper {
    width: 100%;
    height: auto;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }
  
  /* viewBox main */
  .container {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    padding: 30px 20px;
    position: relative;
  }
  .swiper-slide {
    width: 100%;
    height: auto;
    background-color: #eee;
  }
  .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
  }
  .swiper-pagination-bullet-active {
    width: 80px;
    background-color: #fff;
  }
  .swiper-button-next.swiper-button-disabled, 
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    backdrop-filter: blur(3px);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 1001;
    border-radius: 50%;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(240, 240, 240, 0.7);
  }
  .swiper-button-next::after, .swiper-rtlswiper-button-next::after, .swiper-button-prev::after, 
  .swiper-rtlswiper-button-prev::after {display: none;}
  .swiper-button-prev:hover, 
  .swiper-button-next:hover {
    box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
    background-color: #004fff;
  }
  .swiper-button-prev {
    left: 20px;
    background-image: url(../../img/arrow_left.png);
  }
  .swiper-button-prev:hover {
    background-image: url(../../img/left.png);
    background-size: 60%;
  }
  .swiper-button-next {
    right: 20px;
    background-image: url(../../img/arrow_right.png);
  }
  .swiper-button-next:hover {
    background-image: url(../../img/right.png);
    background-size: 60%;
  }
  
  /* #content_box_wrap ========================= */
  #content_box_wrap {
    width: 100%; min-width: 1920px; 
    height: auto;
  }
  .storefactory {
    display: flex;
  }

  /* #dreamfactoryBox_full ================= */
  #dreamfactoryBox_full {
    width: 64.0625%; min-width: 1230px;
    height: 100%;
    padding: 4.065% 1.845% 0 1.845%;
    float: left;
  }
  .dreamfactory_inner {
    width: 100%; min-width: 1160px; 
    height: 470px;
    background-color: #243c84;
  }
  .dreamfactory {
    width: 100%; min-width: 1164px;
    height: 100%;
    padding-top: 4.31%;
    padding-left: 7.758%;
    overflow: hidden;
  }
  .dreamTxt {
    width: 43.6458%; min-width: 838px;
    height: 80px;
  }
  .dreamfactory ul {
    width: 40.3780%; min-width: 470px;
    text-align: left;
  }
  .dreamfactory ul li {
    width: 24.479%; min-width: 470px;
    margin-top: 50px;
    font-size: 20px;
    color: #ffffff;
  }
  .dreamImg {
    width: 35.9375%; min-width: 690px; 
    height: auto;
    float: right;
  }
  
  /* dreamfactory button */
  .dreamfactory_btn {
    width: 23.3854%; min-width: 449px;
    height: 70px;
    margin-top: 50px;
  }
  .dream_fc {
    width: 9.375%; min-width: 180px;
    height: 50px;
    margin-right: 10px;
    line-height: 50px;
    float: right;
    opacity: 0.6;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
    background-color: #dddddd;
  }
  .dream_lc {
    width: 9.375%; min-width: 180px;
    height: 50px;
    line-height: 50px;
    float: right;
    opacity: 0.6;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
    background-color: #dddddd;
  }

  /* #storefindBox ========================= */
  #storefindBox {
    width: 35.9375%; min-width: 690px;
    height: auto;
    margin-top: 77px;
    display: flex;
    flex-wrap: wrap;
    float: left;
  }
  .find_inner {
    width: 100%; min-width: 596px; 
    height: auto;
    margin-top: 4.476%;
  }
  /* .finder */
  .finder {
    width: 100%; min-width: 596px; 
    height: 190px;
  }
  .finder h2 {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 38px;
    font-weight: 500;
  }
  .search {
    width: 83.8926%; min-width: 580px;
    height: auto;
    margin: auto;
    position: relative;
    top: 30px;
  }
  input {
    width: 100%; min-width: 580px;
    height: 72px;
    margin-top: 20px;
    padding: 10px 12px;
    position: relative;
    font-size: 22px;
    border: 1px solid #bbb;
    border-radius: 5px;
  }
  .search button {
    cursor: pointer;
  }
  .search button img {
    width: 5.0334%; 
    height: auto;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 4%;
  }
  /* .notice */
  .noticeBox_full {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 4.476%;
  }
  .noticeBox {display: none;}
  .notice {
    width: 100%;
    height: 200px;
  }
  .notice h2 {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 38px;
    font-weight: 500;
  }
  .notice_TX {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 8px;
    font-weight: 500;
  }
  .notice_more {
    width: 50px;
    margin-top: -25PX;
    margin-right: 6.2%;
    float: right;
    font-weight: normal;
    font-size: 18px;
  }
  .notice_letter {
    width: 91.5942%; min-width: 632px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    Padding-left: 46px;
    display: block;
    position: relative;
    float: left;
  }
  .notice_letter li {
    font-weight: normal;
  }
  .notice_letter li a {
    width: 56.8966%; min-width: 330px;
    float: left;
    font-size: 18px;
  }
  .notice_letter li span {
    float: right;
    font-size: 16px;
  }
  
  /* #shortcutBox ====================== */
  #shortcutBox {display: none;}

  /* #storyBox ========================= */
  #storyBox {
    width: 100%; min-width: 1920px; 
    height: 600px;
    float: left;
  }
  .menu_inner {
    width: 40%; min-width: 768px; 
    height: 477px;
    margin: 3.969% 2.731% 2.331% 7.2%;
    float: left;
  }
  .menu {
    width: 100%; min-width: 768px; height: 477px;
    padding: 20px 0;
    float: left;
    background-image: url(../../img/menu_intro.png);
    background-repeat: no-repeat;
    background-size: 100% 477px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .menu_TX {
    width: 100%; min-width: 768px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  .menu_btn {
    width: 185px;
    height: auto;
    margin-top: 50px;
    margin-right: 100px;
    float: right;
  }
  /* drink */
  .menu_dk {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    line-height: 50px;
    float: right;
    font-size: 22px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
  }
  /* food */
  .menu_fd{
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    float: right;
    line-height: 50px;
    font-size: 22px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
  }
  /* md */
  .menu_md {
    width: 150px;
    height: 50px;
    line-height: 50px;
    float: right;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #cccccc;
    border-radius: 6px;
    cursor: pointer;
  }
  .menu_p {
    margin: 300px 0 0 0;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: white;
  }
  /* brandStory -------------------------------- */
  .brandStory_inner {
    width: 40%; min-width: 768px; height: 477px;
    margin: 3.969% 7.2% 2.331% 2.731%;
    float: left;
  }
  .brandStory {
    width: 100%; min-width: 768px; height: 477px;
    padding: 20px 0;
    float: left;
    background-image: url(../../img/brandStory.png);
    background-repeat: no-repeat;
    background-size: 100% 477px;
    background-position: 50% 50%;
  }
  .brandStory_TX {
    width: 100%; min-width: 768px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  .brandStory_btn {
    width: 185px;
    height: auto;
    margin-top: 40px;
    margin-right: 80px;
    float: right;
  }
  /* ediya about */
  .brandStory_ey {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    float: right;
    font-size: 20px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  /* ceo 인사말 */
  .brandStory_ci {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    float: right;
    font-size: 20px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  /* 연혁 */
  .brandStory_ht {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    float: right;
    font-size: 20px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  /* 오시는 길 */
  .brandStory_m {
    width: 19.5313%; min-width: 150px;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    float: right;
    font-size: 20px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  /* 수상내역 */
  .brandStory_aw {
    width: 19.5313%; min-width: 150px;
    height: 50px;
    line-height: 50px;
    float: right;
    font-size: 20px;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* #membershipBox ========================= */
    #dreamfactoryBox{display: none;}
  
  /* #companyaboutBox ========================= */
  #companyabBox {
    width: 100%; min-width: 1920px;
    height: auto;
    float: left;
  }
  
  /* franchise part */
  .franchise_inner {
    width: 40%; min-width: 768px; height: 477px;
    margin: 2.969% 5.731% 3.331% 7.2%;
    float: left;
  }
  .franchise {
    width: 100%; min-width: 768px;
    height: 477px;
    float: left;
    background-image: url(../../img/franchise.png);
    background-repeat: no-repeat;
    background-size: 100% 477px;
    background-position: 50% 50%;
    color: #ffffff;
  }
  .franchise_TX {
    width: 100%; min-width: 768px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  
  /* franchise button */
  .franchise_btn {
    width: 10.9375%; min-width: 210px;
    height: 121px;
    margin-top: 80px;
    margin-right: 40px;
    float: right;
  }
  .franchise_gd {
    width: 10.4167%; min-width: 200px;
    height: 55px;
    margin-bottom: 10px;
    line-height: 55px;
    float: right;
    opacity: 0.6;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
    background-color: #dddddd;
  }
  .franchise_pt {
    width: 10.4167%; min-width: 200px;
    height: 55px;
    line-height: 55px;
    float: right;
    opacity: 0.6;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #151515;
    border-radius: 6px;
    cursor: pointer;
    background-color: #dddddd;
  }
  /* sns */
  .sns_inner {
    width: 40.3%; min-width: 768px; 
    height: 477px;
    margin: 2.969% 7.2% 3.331% 2.731%;
    display: flex;
  }
  .sns {
    width: 40%; min-width: 550px;
    height: 477px;
    display: flex;
    flex-wrap: wrap;
  }
  /* sns img */
  .snslatte {
    width: 100%; min-width: 274px;
    height: 220px;
  }
  .snsthree {
    width: 100%; min-width: 274px;
    height: 220px;
  }
  .snscoffee {
    width: 100%; min-width: 274px;
    height: 220px;
  }
  .snssoftkit {
    width: 100%; min-width: 274px;
    height: 220px;
  }
  /* sns logo */
  .snsmark {
    width: 29.1667%; min-width: 224px;
    height: 477px;
    display: flex;
    flex-direction: column;
  }
  .snsmark button {
    width: auto;
    height: 120px;
  }
  .snsmark button span {
    width: auto;
    height: 25px;
    line-height: 25px;
    float: left;
    font-size: 25px;
  }
  .snsmark button img {
    margin: 0 40px;
  }
  .Fmark {
    width: 32px;
    height: 32px;
    float: left;
  }
  .Imark {
    width: 32px;
    height: 32px;
    float: left;
  }
  .NBmark {
    width: 32px;
    height: 32px;
    float: left;
  }
  .Ymark {
    width: 32px;
    height: 32px;
    float: left;
  }
  .ediyastory_inner {display: none;}
    
  /* #footBox ========================= */
  #footBox {
    width: 100%; min-width: 1920px;
    height: auto;
    float: left;
    border-top: 3px solid #243c84;
  }
  .foot_inner {
    width: 71.1458%; min-width: 1366px;
    height: auto;
    margin: 34px auto;
  }
  .foot_main {
    position: relative;
    text-align: center;
    color: #000;
  }
  .foot_main h2 {
    width: auto;
    margin-bottom: 28px;
  }
  .foot_main h2 button img {
    width: 14.5833%; min-width: 280px; 
    height: 28px;
    margin: auto;
    display: block;
  }
  .foot_main .company_info {
    width: 100%; min-width: 1366px;
    height: auto;
  }
  .foot_main .company_info li {
    display: inline-block;
    font-size: 21px;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    margin-top: 26px;
    font-size: 18px;
    font-weight: 400;
  }
  .foot_main .footsubmenu {
    width: 14.583%; min-width: 320px; 
    height: auto;
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
  }

  /* language --------------- */
  .language_part {
    width: 50%;
  }
  .language_btn {
    width: 100%; 
    height: 60px;
  }
  .language_btn img {
    width: 45px;
    height: 45px;
  }
  .language_part ul {
    width: 100%;
    margin-top: 10px;
    padding: 10px 8px;
    display: none;
    position: relative;
    border: 1px solid #262626;
    text-align: center;
    cursor: pointer;
  }
  .language_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  .language_part li {
    width: auto;
    height: 35px;
    line-height: 25px;
  }
  .language_part li button { 
    text-transform: uppercase; 
  }
  
  /* brandsite -------------- */
  .brandsite_part {
    width: 50%;
    margin-left: 5px;
  }
  .brandsite_part li {
    width: auto;
    height: 35px;
    line-height: 25px;
  }
  .brandsite_part li button {
    font-size: 20px;
    text-transform: uppercase; 
  }
  .brandsite_btn {
    width: 100%;
    height: 60px;
    line-height: 42px;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    background-color: #243c84;
  }
  .brandsite_part ul {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    display: none;
    position: relative;
    border: 1px solid #262626;
    text-align: center;
    cursor: pointer;
  }
  .brandsite_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* top button */
  .to_top {
    display: none;
    position: fixed;
    right: 4%;
    bottom: 15px;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 60px;
    cursor: pointer;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 60px;
  }
  .footInner_m {display: none;}
} /* 1920px ~ =========================================== */
